<% include ../header.ejs %> 
<div class="wrapper">
<% include ../navbar.ejs %> 
<% include ../sidebar.ejs %> 
  <div class="content-wrapper">
    
    <!-- Main content -->
    <section class="content">
        <% if(msg!=''){%>
          <div class="alert alert-success col-xs-6" id="msg">
            <strong></strong> <%= msg %>
          </div>
        <%}
       %>

      <div class="row">
        <!-- left column -->
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><%= response.name ? 'Edit' : ' '  %> <b><%= response.name ? response.name : ' Add Restaurants'  %></b></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="POST" enctype="multipart/form-data" action="/meal/save">
              <div class="box-body">
              <div class="form-group">
                  <% if(response.image){ %>
                    <div ><img style="width:100px; height: 150px;" src="/images/users/<%= response.image%>"></div>
                    <% } %>
              </div>
              <div class="form-group">
              
                <label for="exampleInputEmail1">Restaurants Name</label>
                <input type="text" class="form-control" id="exampleInputfirstname" name="name"placeholder="Enter Restaurants name " value="<%= response.name ? response.name : ''  %>" required>
              </div>
              <div class="form-group">
              
                <label for="exampleInputEmail1">Restaurants Group Code</label>
                <input type="text" class="form-control" id="exampleInputfirstname" name="group_code"placeholder="Enter Restaurants group code " value="<%= response.group_code ? response.group_code : ''  %>" required>
              </div>
              <div class="form-group">
              
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputfirstname" name="email" placeholder="Enter Restaurants Email" value="<%= response.email ? response.email : ''  %>" required>
              </div>
              <div class="form-group">
              
                <label for="exampleInputEmail1">Password</label>
                <input type="text" class="form-control" id="exampleInputfirstname" name="password" placeholder="Enter Password here " value="" required>
              </div>
              <!-- <div class="form-group">
              
                <label for="exampleInputEmail1">Address</label>
                <input type="text" class="form-control" id="location1" name="address"placeholder="Enter Address " value="<%= response.address ? response.address : ''  %>" required>
                <input type="text" class="form-control" id="pac-lat" name="lat" placeholder=""
                required value="">
                <input type="text" class="form-control" id="pac-lang" name="long" placeholder=""
                required value="">
              </div> -->
              <div class="form-group">
              
                <label for="exampleInputEmail1">Address</label>
                <input type="text" class="form-control" id="location1" name="address"placeholder="Enter Address " value="<%= response.address ? response.address : ''  %>" required>
                <input type="hidden" class="form-control" id="pac-lat" name="lat" placeholder=""
                required value="">
                <input type="hidden" class="form-control" id="pac-lang" name="long" placeholder=""
                required value="">
              </div>
             
             
             
                
              <div class="form-group">
                <label for="exampleInputFile"> Upload Image</label>
                <input type="file" onchange="loadFile(event)" id="exampleInputFile" name="file" accept="image/*" <% if(!response.image){ %><% } %>>  
                
              </div>
             
                 <br><input type="hidden" value="<%= response.id ? response.id : ''  %>" name="user_id">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
              <!-- /.box-body -->

              
            </form>
          </div>


        </div>
        
    </section>
    <!-- /.content -->
  </div>
  <div class="control-sidebar-bg"></div>
</div>
<% include ../footer.ejs %> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUdXAPh9pzLfcW4ITFNitZ5ytAIHPcb54&libraries=places&callback=initAutocomplete" async defer></script>

<script>
  console.log('worloing');
  // This example displays an address form, using the autocomplete feature
  // of the Google Places API to help users fill in the information.

  // This example requires the Places library. Include the libraries=places
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

  var placeSearch, autocomplete;
  // var componentForm = {
  //    // route: 'long_name',
  //     locality: 'long_name',
  //     administrative_area_level_1: 'long_name',
  //     country: 'long_name',
  //     // postal_code: 'short_name'
  // };

  
  function initAutocomplete() {
      console.log("..................................in hospital ");
      // Create the autocomplete object, restricting the search to geographical
      // location types.
      autocomplete = new google.maps.places.Autocomplete(
              /** @type {!HTMLInputElement} */(document.getElementById('location1')),
              {types: ['geocode']});

      // When the user selects an address from the dropdown, populate the address
        // fields in the form.
      autocomplete.addListener('place_changed', fillInAddress);
  }
  function fillInAddress() {
      // Get the place details from the autocomplete object.
      var place = autocomplete.getPlace();
      console.log(place,"===============placessss");
      // for (var component in componentForm) {
      //    console.log(component);
      //     document.getElementById(component).value = '';
      //     document.getElementById(component).disabled = false;
      // }

      // Get each component of the address from the place details
      // and fill the corresponding field on the form.

      //console.log(place,"================places");
      // for (var i = 0; i < place.address_components.length; i++) {
      //     var addressType = place.address_components[i].types[0];
      //     //console.log(place.address_components[i],"========addrreee ");
      //     if (componentForm[addressType]) {
      //         var val = place.address_components[i][componentForm[addressType]];
      //         console.log(val,"==========ddd");
      //         document.getElementById(addressType).value = val;
      //     }
      // }
      $("#pac-lat").val(place.geometry.location.lat());
      $("#pac-lang").val(place.geometry.location.lng());
  }

  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
              lat = position.coords.latitude;
              lng = position.coords.longitude;
              var geolocation = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
              };
              $("#pac-lat").val(lat);
              $("#pac-lang").val(lng);
              var circle = new google.maps.Circle({
                  center: geolocation,
                  radius: position.coords.accuracy
              });
              autocomplete.setBounds(circle.getBounds());
          });
      }
  }
</script>
