<% include ../header.ejs %> 
<div class="wrapper">
<% include ../navbar.ejs %> 
<% include ../sidebar.ejs %>

<!-- Left side column. contains the logo and sidebar -->

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
       Health Games
        <small> </small>
      </h1>
      
    </section> <br>
    
    <!-- Main content -->
    <section class="content">
    <a href="/sponsors/healthgames_create" class="btn btn-info pull-right" role="button">Add Health Games</a><br></br>
    <% if(msg!=''){%>
      <div class="alert alert-success col-xs-6" id="msg">
        <strong>Success!</strong> <%= msg %>
      </div>
    <%}%>
    
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
              
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Sr.No</th>
                  <th>Title</th>
                  <th>URL</th>
                  <th>Thumbnail</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
               <% 
                if(response && response.length>0){
                for(var i in response){
                %>
                
                <tr>
                    <td><%= parseInt(i)+1%></td>
                    <td><%= response[i].name ? response[i].name : '' %></td>
                    <td><%= response[i].url ? response[i].url    : '' %></td>
                    <td><% if(response[i].thumbnail !=''){%><img id="imgss_<%= response[i].id%>" class="myImg" style="width:50px; height: 50px;" src="/images/users/<%= response[i].thumbnail ? response[i].thumbnail : '' %>" ><%}%></td>
                    
                    <td><%= response[i].description ? response[i].description : '' %></td>
                    
                  <td>
                    <a href="/sponsors/healthgames_edit?id=<%= response[i].id%>" class="btn btn-primary a-btn-slide-text">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                         <span>Edit</span>            
                       </a>
                                
                       </a>
                  
                    <button class="btn btn-primary btn btn-danger delete delete_cat" type="submit" rel="<%= response[i].id %>" value="<%= response[i].status %>" <%= (response[i].status)? 'checked':'' %> table="health_games" >Delete
                    </button>
                  </td>
                 
                </tr>
                
                <%  }
                } %>
                </tbody>
                
              </table>
              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

  


<% include ../footer.ejs %> 

