<% include ../header.ejs %> 
<div class="wrapper">
<% include ../navbar.ejs %> 
<% include ../sidebar.ejs %> 
  <div class="content-wrapper">
 <style type="text/css">

 .ua .dropdown-menu {
    top: 33px;

    }
    .ua .form-control:focus {
     border-color: none;
}
.dropdown-menu .glyphicon.glyphicon-ok.check-mark {
    display: none;
}
    </style>

    <section class="content">
        <% if(msg!=''){%>
          <div class="alert alert-error col-xs-6" id="msg">
            <strong></strong> <%= msg %>
          </div>
        <%}%>
      <div class="row">
        <!-- left column -->
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><%= response.name ? 'Edit' : 'Create'  %> <b><%= response.id ? response.name : 'new'  %></b></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="POST" enctype="multipart/form-data" action="/sponsers/policy_save">
              <div class="box-body">
                  
              <div class="form-group">
                  <label for="exampleInputEmail1"> Policy Name</label>
                  <input type="text" class="form-control" id="exampleInputfirstname"  name="policy_name"placeholder="Enter Policy  Name" value="<%= resu_data.name ? resu_data.name : ''  %>" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Policy Number </label>
                  <input type="text" class="form-control" id="check_email" name="Policy_number" placeholder="Enter  Policy Number" required value="<%= resu_data.number ? resu_data.number : ''  %>" required>
                </div>
                 <div class="form-group">
                  <label for="exampleInputEmail1">Policy Description </label>
                  <input type="text" class="form-control" id="check_email" name="Policy_Details" placeholder="Enter  Policy Details" required value="<%= resu_data.description ? resu_data.description : ''  %>" required>
                </div>
                 
                <div class="form-group">
                    <label>Select Illnesses</label>
                      <div class="row-fluid ua">
                          <select class="selectpicker" data-show-subtext="true" data-live-search="true" name ="illness_name"  multiple>
                             <% if(response.illnesses && response.illnesses!=''){
                          for(let i in response.illnesses){
                        %>
                        <option  name ="illness_name" value="<%= response.illnesses[i].id%>" <% if(resu_data && resu_data.illness_id && resu_data.illness_id!=''){ for(let j in resu_data.illness_id){ if(resu_data.illness_id[j] == response.illnesses[i].id){%>selected <%}}}%>><%= response.illnesses[i].name ? response.illnesses[i].name :''%></option>
                        <%}
                        }%>
                           </select>
                      </div>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Expiry Date </label>
                  <input type="date" max="9999-12-31" class="form-control" id="check_email" name="expiry_date" placeholder="Enter  Expiry Date" required value="<%= resu_data.expiry_date ? resu_data.expiry_date : ''  %>" required>
                </div>
                
                
                <input type="hidden" value="<%= response.id ? response.id : ''  %>" name="user_id">
                <button class="btn btn-info " onclick="goBack()">Back</button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
              <!-- /.box-body -->

              
            </form>
          </div>


        </div>
      </div>
     
        <div class="col-md-4">
          <img id="output" style="width:300px;height:auto;max-height:500px;">
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
    
   

  <div class="control-sidebar-bg"></div>
  
</div>
<script type="text/javascript">
</script>


<% include ../footer.ejs %> 


