<% include ../header.ejs %> 
<div class="wrapper">
<% include ../navbar.ejs %> 
<% include ../sidebar.ejs %> 
  <div class="content-wrapper">
    


    <!-- Main content -->
    
   
    <section class="content">
        <% if(msg!=''){%>
          <div class="alert alert-error col-xs-6" id="msg">
            <strong></strong> <%= msg %>
          </div>
        <%}%>
      <div class="row">
        <!-- left column -->
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
            <% console.log(response);%>
              <h3 style="text-align: right">View <%= response. name ? response. name : ''%> </h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="POST" enctype="multipart/form-data" action="/users/save">
              <div class="box-body">
                  <label for="exampleInputEmail1">Policy Name</label>
                  <p><%= response.name ? response.name : ''  %></p>
                </div>
                <div class="box-body">
                  <label for="exampleInputEmail1"> Policy Number</label>
                  <p><%= response.number ? response.number : ''  %></p>
                  </div>
                  <div class="box-body">
                  <label for="exampleInputEmail1">Policy Details</label>
                  <p><%= response.description ? response.description : ''  %></p>
                </div>
                <div class="box-body">
                  <label for="exampleInputEmail1">Policy Expiry Date</label>
                  <p><%= response.expiry_date ? response.expiry_date: ''  %></p>
                </div>
                  
                
              <!-- /.box-body -->

              
            </form>
          </div>


        </div>
        <div class="="col-md-4">
          <img id="output" style="width:400px;height:auto;max-height:600px;">
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <div class="control-sidebar-bg"></div>
  
</div>
<% include ../footer.ejs %> 


