<% include ../header.ejs %> 
<div class="wrapper">
<% include ../navbar.ejs %> 
<% include ../sidebar.ejs %> 
  <div class="content-wrapper">


    <!-- Main content -->
    
   
    <section class="content">
        <% if(msg!=''){%>
          <div class="alert alert-error col-xs-6" id="msg">
            <strong></strong> <%= msg %>
          </div>
        <%}%>
      <div class="row">
        <!-- left column -->
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <button type="submit" class="btn btn-info pull-right " onclick="goBack()">Back</button>
              <h3 style="text-align: left">View <%= response.username ? response.username : ''%> </h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              
                  <% if(response.username && response.username!=''){%>
              <div class="form-group">
                  <label for="exampleInputEmail1">Restaurant Name</label>
                  <p><%= response.mealname ? response.mealname : ''  %></p>
                </div>
                <%}%>
                <% if(response.username && response.username!=''){%>
                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <p><%= response.username? response.username : ''  %></p>
                  </div>
                  <% }%>
                 <% if(response.policy_number && response.policy_number!=''){%>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Policy Number</label>
                      <p><%= response.policy_number ? response.policy_number : ''  %></p>
                    </div>
                    <%}%>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Phone Number</label>
                      <p><%= response.phone_number ? response.phone_number : ''  %></p>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Gender</label>
                      <p><%=(response.gender==0)? 'male': 'Female'%></p>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Address</label>
                      <p><%= response.address ? response.address : ''  %></p>
                    </div>
                 <%if(response.Date && response.Date!=''){%>
               <div class="form-group">
                  <label for="exampleInputEmail1"> Visit Date</label>
                  <p><%= response.Date ? response.Date : ''  %></p>
                  
                </div>
                <% }%>
               
            
              </div>
              <!-- /.box-body -->

              
            </form>
          </div>


        </div>
        <div class="="col-md-4">
          <img id="output" style="width:400px;height:auto;max-height:600px;">
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <div class="control-sidebar-bg"></div>
  
</div>
<% include ../footer.ejs %> 


