<% include ../header.ejs %> 
<div class="wrapper">
<% include ../navbar.ejs %> 
<% include ../sidebar.ejs %> 
  <div class="content-wrapper">
    


    <!-- Main content -->
    
   
    <section class="content">
        <% if(msg!=''){%>
          <div class="alert alert-error col-xs-6" id="msg">
            <strong></strong> <%= msg %>
          </div>
        <%}%>
      <div class="row">
        <!-- left column -->
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
            <% console.log(response);%>
              <h3 class="box-title"><%= response.username ? 'Edit' : 'Create'  %> <b><%= response.username ? response.username : 'new'  %></b></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="POST" enctype="multipart/form-data" action="/sponsers/save">
              <div class="box-body">
                  
              <div class="form-group">
                  <label for="exampleInputEmail1">Hospital Name</label>
                  <input type="text" class="form-control" id="exampleInputfirstname"  name="name"placeholder="Enter Hospital Name" value="<%= response.username ? response.username : ''  %>" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email </label>
                  <input type="email" class="form-control" id="check_email" name="email" placeholder="Enter  Hospital email" required value="<%= response.email ? response.email : ''  %>" <% if(response.email){%>readonly <%}%>>
                </div>
                
                <div class="form-group">
                  <label for="exampleInputEmail1">Location </label>
                  <input type="text" class="form-control" id="check_location" name="location" placeholder="Enter  Hospital Location" required value="<%= response.location ? response.location : ''  %>" >
                </div>
                
                <input type="hidden" value="<%= response.id ? response.id : ''  %>" name="user_id">
                
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
              <!-- /.box-body -->

              
            </form>
          </div>


        </div>
        <div class="="col-md-4">
          <img id="output" style="width:300px;height:auto;max-height:500px;">
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <div class="control-sidebar-bg"></div>
  
</div>
<% include ../footer.ejs %> 


