<% include ../header.ejs %> 
<div class="wrapper">
<% include ../navbar.ejs %> 
<% include ../sidebar.ejs %> 
  <div class="content-wrapper">
    


    <!-- Main content -->
    
   
    <section class="content">
        <% if(msg!=''){%>
          <div class="alert alert-error col-xs-6" id="msg">
            <strong></strong> <%= msg %>
          </div>
        <%}%>
        
      <div class="row">
        <!-- left column -->
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
                <button type="submit" class="btn btn-info pull-right " onclick="goBack()">Back</button>
              <h3 style="text-align: left">View <%= response.username ? response.username : ''%> </h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="POST" enctype="multipart/form-data" action="/users/save">
              <div class="box-body">
                  <label for="exampleInputEmail1">Hospital Name</label>
                  <p><%= response.username ? response.username : ''  %></p>
                </div>
                <div class="box-body">
                  <label for="exampleInputEmail1"> Email</label>
                  <p><%= response.email ? response.email : ''  %></p>
                  </div>
                  <div class="box-body">
                  <label for="exampleInputEmail1">Hospital Location</label>
                  <p><%= response.location ? response.location : ''  %></p>
                </div>
                  <div class="box-body">
                  <label for="exampleInputEmail1">Illness</label>
                  <%  if(illnesses && illnesses!=''){
                  for(let i=0;i<illnesses.length; i++){%>
                  <p><%=illnesses[i].name ? illnesses[i].name:''%></p>
                  <% }
                  }%>
                </div>
                
                  
                
              <!-- /.box-body -->

              
            </form>
          </div>


        </div>
        <div class="="col-md-4">
          <img id="output" style="width:400px;height:auto;max-height:600px;">
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <div class="control-sidebar-bg"></div>
  
</div>
<% include ../footer.ejs %> 


