<% include ./header.ejs %> 
<div class="wrapper">
<% include ./navbar.ejs %> 
<% include ./sidebar.ejs %> 
  <div class="content-wrapper">
    


    
    <!-- Main content -->
   
    <section class="content">
        <% if(msg!=''){%>
          <div class="alert alert-error col-xs-6" id="msg">
            <strong></strong> <%= msg %>
          </div>
        <%}%>
      <div class="row">
        <!-- left column -->
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
            <% console.log(response);%>
              <h3 class="box-title"><%= response.id ? 'Edit' : 'Edit '  %> <b><%= response.id ? response.id : 'Details'  %></b></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="POST" enctype="multipart/form-data" action="/sponsers/save">
              <div class="box-body">
                  
                    
              <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="text" class="form-control" id="exampleInputfirstname"  name="name"placeholder="Enter Name" value="<%= response.name ? response.name : ''  %>" required>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Description</label>
                  <input type="text" class="form-control" id="exampleInputlastname" name="description" placeholder="Description" required value="<%= response.description ? response.description : ''  %>">
                </div>
                 
                
                
                <input type="hidden" value="<%= response.id ? response.id : ''  %>" name="user_id">
                
                
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
              <!-- /.box-body -->

              
            </form>
          </div>


        </div>
        <div class="="col-md-4">
          <img id="output" style="width:300px;height:auto;max-height:500px;">
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <div class="control-sidebar-bg"></div>
  
</div>
<% include ../footer.ejs %> 


