<% include ../header.ejs %> 
<div class="wrapper">
<% include ../navbar.ejs %> 
<% include ../sidebar.ejs %> 
  <div class="content-wrapper">
    
    <!-- Main content -->
    <section class="content">
        <% if(msg!=''){%>
          <div class="alert alert-success col-xs-6" id="msg">
            <strong></strong> <%= msg %>
          </div>
        <%}
       %>

      <div class="row">
        <!-- left column -->
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><%= response.name ? 'Edit' : ' '  %> <b><%= response.name ? response.name : ' Add Hospital'  %></b></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="POST" enctype="multipart/form-data" action="/hospitals/save">
              <div class="box-body">
              <div class="form-group">
                  <% if(response.image){ %>
                    <div ><img style="width:100px; height: 150px;" src="/images/users/<%= response.image%>"></div>
                    <% } %>
              </div>
              <div class="form-group">
              
                <label for="exampleInputEmail1">Hospital Name</label>
                <input type="text" class="form-control" id="exampleInputfirstname" name="hospital_name"placeholder="Enter Hospital name " value="<%= response.name ? response.name : ''  %>" required>
              </div>
              <div class="form-group">
                <label>Select Category</label>
                  <div class="row-fluid ua">
                    
                      <select class="select2 form-control" data-show-subtext="true" data-live-search="true" name ="category_id">
                        <option  name ="items" value="0">Select any one</option>
                        <% for(let i in cat){%>

                          <option  name ="items" value="<%= cat[i].id%>"<% if( response.category_id == cat[i].id) {%>selected<%}%> ><%=cat[i].name%></option>
                        <%}%>
                       </select>
                  </div>
            </div>
              <div class="form-group">
              
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" id="exampleInputfirstname" name="hospital_email" placeholder="Enter Hospital Email" value="<%= response.email ? response.email : ''  %>" required>
              </div>
              <div class="form-group">
              
                <label for="exampleInputEmail1">Address</label>
                <input type="text" class="form-control" id="location1" name="addreess"placeholder="Enter Address " value="<%= response.address ? response.address : ''  %>" required>
                <input type="hidden" class="form-control" id="pac-lat" name="lat" placeholder=""
                required value="">
                <input type="hidden" class="form-control" id="pac-lang" name="long" placeholder=""
                required value="">
              </div>
              <div class="form-group">
              
                <label for="exampleInputEmail1">City</label>
                <input type="text" class="form-control" id="locality" name="city"placeholder="Enter City" value="<%= response.city ? response.city : ''  %>" >
              </div>
              <div class="form-group">
              
                <label for="exampleInputEmail1">State</label>
                <input type="text" class="form-control" id="administrative_area_level_1" name="state" placeholder="Enter state " value="<%= response.state ? response.state : ''  %>" >
              </div>
              <div class="form-group">
              
                <label for="exampleInputEmail1">Country</label>
                <input type="text" class="form-control" id="country" name="country" placeholder="Enter Country " value="<%= response.country ? response.country : ''  %>" >
              </div>
              <div class="form-group">
              
                <label for="exampleInputEmail1">Zip Code</label>
                <input type="number" class="form-control" id="exampleInputfirstname" name="zip" placeholder="Enter Zip " value="<%= response.zip ? response.zip : ''  %>" >
              </div>
                
              <div class="form-group">
                <label for="exampleInputFile"> Upload Image</label>
                <input type="file" onchange="loadFile(event)" id="exampleInputFile" name="file" accept="image/*" <% if(!response.image){ %><% } %>>  
                
              </div>
              <br><br>
                <!-- <label allign="centre">ACCOUNT DETAILS</label><br> -->
                <div class="form-group">
                    <label for="exampleInputEmail1">BANK NAME </label>
                    <input type="text" class="form-control" id="account" name="bank_name"placeholder="Enter bank name" value="<%= response.bank_name ? response.bank_name : ''  %>" >
                </div>
                <div class="form-group">
                      <label for="exampleInputEmail1">ACCOUNT NUMBER</label>
                      <input type="text" class="form-control" id="bank_name" name="account_number"placeholder="Enter account number" value="<%= response.account_number ? response.account_number : ''  %>" >
              </div>
                <!-- <div class="form-group">
                        <label for="exampleInputEmail1">IFSC Number</label>
                        <input type="text" class="form-control" id="ifsc" name="ifsc"placeholder="Enter ifsc here" value="<%= response.ifsc ? response.ifsc : ''  %>" >
               </div> -->
               <div class="form-group">
                  <label for="exampleInputEmail1">ACCOUNT NAME</label>
                  <input type="text" class="form-control" id="holder_name" name="holder_name"placeholder="Enter Account  name here" value="<%= response.holdername ? response.holdername : ''  %>" >
         </div>
                 <br><input type="hidden" value="<%= response.id ? response.id : ''  %>" name="user_id">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
              <!-- /.box-body -->

              
            </form>
          </div>


        </div>
        
    </section>
    <!-- /.content -->
  </div>
  <div class="control-sidebar-bg"></div>
</div>


<% include ../footer.ejs %> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUdXAPh9pzLfcW4ITFNitZ5ytAIHPcb54&libraries=places&callback=initAutocomplete" async defer></script>

<script>
  console.log('worloing');
  // This example displays an address form, using the autocomplete feature
  // of the Google Places API to help users fill in the information.

  // This example requires the Places library. Include the libraries=places
  // parameter when you first load the API. For example:
  // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

  var placeSearch, autocomplete;
  var componentForm = {
     // route: 'long_name',
      locality: 'long_name',
      administrative_area_level_1: 'long_name',
      country: 'long_name',
      // postal_code: 'short_name'
  };

  
  function initAutocomplete() {
      console.log("..................................in hospital ");
      // Create the autocomplete object, restricting the search to geographical
      // location types.
      autocomplete = new google.maps.places.Autocomplete(
              /** @type {!HTMLInputElement} */(document.getElementById('location1')),
              {types: ['geocode']});

      // When the user selects an address from the dropdown, populate the address
        // fields in the form.
      autocomplete.addListener('place_changed', fillInAddress);
  }
  function fillInAddress() {
      // Get the place details from the autocomplete object.
      var place = autocomplete.getPlace();
      console.log(place,"===============places");
      for (var component in componentForm) {
         console.log(component);
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
      }

      // Get each component of the address from the place details
      // and fill the corresponding field on the form.

      //console.log(place,"================places");
      for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          //console.log(place.address_components[i],"========addrreee ");
          if (componentForm[addressType]) {
              var val = place.address_components[i][componentForm[addressType]];
              console.log(val,"==========ddd");
              document.getElementById(addressType).value = val;
          }
      }
      $("#pac-lat").val(place.geometry.location.lat());
      $("#pac-lang").val(place.geometry.location.lng());
  }

  // Bias the autocomplete object to the user's geographical location,
  // as supplied by the browser's 'navigator.geolocation' object.
  function geolocate() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
              lat = position.coords.latitude;
              lng = position.coords.longitude;
              var geolocation = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
              };
              $("#pac-lat").val(lat);
              $("#pac-lang").val(lng);
              var circle = new google.maps.Circle({
                  center: geolocation,
                  radius: position.coords.accuracy
              });
              autocomplete.setBounds(circle.getBounds());
          });
      }
  }
</script>
